<section class="login_page_main">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 p-5 d-none d-sm-block">
                <div class="left_img">
                    <h1>Explore Interesting <br> Cyber Projects</h1>
                    <img src="assets/login.png">
                </div>
            </div>
            <div class="col-lg-6 p-3">
                <div class="right_form_main">
                    <div class="form_top_text">
                        <div>
                            <h2>Change automated password to continue with <br>Invinsource account</h2>
                        </div>
                    </div>
                    <div class="right_form_inside">
                        <h3 class="form_tital">Change Password</h3>
                        <form [formGroup]="changePasswordForm" id="msform" autocomplete="off
                        ">
                        <div class="form-group formfield">
                            <input type="password" formControlName="newPassword" name="" id="newpassword" required value="" autocomplete="off
                            ">
                            <label for="newpassword" placeholder="">New Password</label>
                        </div>

                            <div class="form-group formfield">
                                <input type="password" formControlName="confirmPassword" name="" id="confirmpassword" required value="" autocomplete="off
                                ">
                                <label for="confirmpassword" placeholder="">Confirm Password</label>
                            </div>
                            <hr>
                            <button (click)="submit()" type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

