
<section class="login_page_main">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 p-5 d-none d-sm-block">
                <div class="left_img">
                    <h1>Explore Interesting <br> Cyber Projects</h1>
                    <img src="assets/login.png">
                </div>
            </div>
            <div class="col-lg-6 py-5 px-3">
                <div class="right_form_main">
                    <div class="form_top_text">
                        <div>
                            <h2>Enter email address to recover your <br>Invinsource account</h2>
                        </div>
                    </div>
                    <div class="right_form_inside">
                        <h3 class="form_tital">Forgot Password?</h3>
                        <form [formGroup]="forgotPasswordForm" id="msform" autocomplete="off
                        ">
                            <div class="form-group formfield">
                                <input type="email" formControlName="email" name="" id="email" required value=""
                                    autocomplete="off">
                                <label for="email" placeholder="">Email</label>
                            </div>
                            <hr>
                            <button (click)="recoverPassword()" type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>